.black-cross, .point{
	background: url('../img/sprites.png') no-repeat;
}

.login,
.password{
	background: #f9f6f3 url('../img/sprites.png') no-repeat;
}

.login{
	background-position: 268px -133px ;
	width: 15px;
	height: 15px;
}

.password{
	background-position: 269px -86px ;
	width: 15px;
	height: 17px;
}

.icon-vk,
.icon-facebook,
.icon-insta{
	display: inline-block;
	width: 43px;
	height: 43px;
	margin-right: 6px;
	margin-top: 6px;
	background: black url('../img/sprites.png') no-repeat;
}

.icon-vk{
	background-position: 9px -281px ;
}

.icon-facebook{
	background-position: 12px -489px ;
}

.icon-insta{
	background-position: 11px -384px ;
}

.icon-vk:hover{
	background: white url('../img/sprites.png') no-repeat;
	background-position: 10px -233px ;
}

.icon-facebook:hover{
	background: white url('../img/sprites.png') no-repeat;
	background-position: 9px -437px ;
}

.icon-insta:hover{
	background: white url('../img/sprites.png') no-repeat;
	background-position: 9px -337px ;
}

.point{
	background-position: -6px -202px ;
	width: 8px;
	height: 8px;
}

.login-popup-closer{
	background: url('../img/sprites.png') no-repeat;
    background-position: 8px -35px;
}

.black-cross{
	background-position: -6px 0;
	width: 12px;
	height: 12px;
}

.account-menu-enter:before{
	content: '';
	position: absolute;
	top:33px;
	left:0;
	width: 16px;
	height: 16px;
	background: url('../img/sprites.png') no-repeat;
}

.account-menu-enter:before{
	background-position: -3px -545px ;
}

.account-menu-enter-disabeled:before{
	opacity: 0.3;